body{
    background: url(assets/static/background_power4.png);
    width: 100%;
    height: 100vh;
    font-family: Markin-LT-Ultra-bold;
}

.signup{
    width: 360px;
    height: 800px;
    margin: auto;
    background: white;
    border-radius: 3px;
}

.login{
    width: 360px;
    height: 400px;
    margin: auto;
    background: white;
    border-radius: 3px;
}

h1{
    text-align: center;
}

h4{
    text-align: center;
    padding-top: 15px;
}   

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline:  none;
}

input[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border:none;
    background-color: orange;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover{
    color:white;
    background: rgb(13, 211, 247);
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}